./apples2_solux-4100.tif
./apples2_syl-50MR16Q.tif
./ball_solux-4100.tif
./ball_syl-50MR16Q.tif
./blocks1_solux-4100.tif
./blocks1_syl-50MR16Q.tif
./macbeth_solux-4100.tif
./macbeth_syl-50MR16Q.tif
./monkey-1_solux-4100.tif
./monkey-1_syl-50MR16Q.tif
